# Data Science for All - Spring 2026
## Second Week - Jan 14th 2026
### Prof. Reis

In [ ]:
print("Hello Data Science Students")
print("greg reis")
print(2*"greg")
print("greg"+"reis") # concatenation
print("greg" + " " + "reis")
print("FIU","Miami",1965,54000,True)
print("greg","reis")
print(3*7)
print(3*"7")

Hello Data Science Students
greg reis
greggreg
gregreis
greg reis
FIU Miami 1965 54000 True
greg reis
21
777

In [ ]:
first_name = "greg" # assigning value "greg" to variable first_name
last_name = "reis"

print(first_name,last_name)

print(type(first_name)) # string
print(type(2)) # integer
print(type(3.14))
print(type(False))
print(type(None))

greg reis
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
a = 10
b = 3

print(a+b) # addition
print(a*b) # multiplication
print(a-b) # subtraction
print(a/b) # division, always results in a float  10/2 = 5.0
# the reason is so that the type of ALL results are the same
print(a//b) # floor division
print(a**b) # a to the power of b
print(a%b) # modulo or the remainder of the division of a by b

13
30
7
3.3333333333333335
3
1000
1

In [ ]:
x = 10
x = x + 2
print(x)

x += 3 # this is the same as writing x = x + 3
print(x)

y = 9.2
y -= 3 # this is the same as writing y = y - 3
print(y)

12
15
6.199999999999999

### Boolean and Comparison Operators

-< less than

-> greater than

-== equal to

-<= less or equal

->= greater or equal

-!= not equal

-True

-False

-or

-and

In [ ]:
a = 7 > 8
print(a)

b = 10 > (3*3)
print(b)

c = (7 > 8) or (9 > 8)
print(c)

d = len("greg") >= 4
print(d)

False
True
True
True

In [ ]:
university = "fiu "

print(type(university)) # returns the type which is string
print(len(university)) # returns how many characters which is 4
print(university.title()) # first letter upper case
print(university.upper()) # all letters upper case
print(university.lower()) # all letters lower case
print(university[0]) # accessing index 0, which is the first character
print(university[1]) # second character
print(university[2]) # third character
print(university[3]) # fourth character

<class 'str'>
4
Fiu
FIU
fiu
f
i
u

Next class, we will learn about:
- Lists
- Dictionaries
- Connecting google drive to google colab (!)