# Data Science for All - Spring 2026
## Week 3 - Jan 21st 2026
### Prof. Reis

In [ ]:
professors = ["greg","heather","kevin","rita","todd","leo"]
print(professors)
print(len(professors))  # how many items in the list
print(type(professors))
print(professors[0])    # accessing the first item
print(professors[1])    # accessing the second item
print(professors[2])    # accessing the third item

['greg', 'heather', 'kevin', 'rita', 'todd', 'leo']
6
<class 'list'>
greg
heather
kevin

In [ ]:
professors.append("camilo") # add this item to the END of the list
print(professors)

['greg', 'heather', 'kevin', 'rita', 'todd', 'leo', 'camilo']

In [ ]:
professors.extend(["piero","henry","patricia"]) # adding multiple items
print(professors)

['greg', 'heather', 'kevin', 'rita', 'todd', 'leo', 'camilo', 'piero', 'henry', 'patricia']

In [ ]:
print(professors[-1]) # accesing the last item
print(professors[-2])

patricia
henry

In [ ]:
print(professors[3:6]) # accessing items in positions 3, 4, and 5
# the upper bound value 6 is NOT included

print(professors[5:]) # accessing items from position 5 onward

['rita', 'todd', 'leo']
['leo', 'camilo', 'piero', 'henry', 'patricia']

In [ ]:
print(professors[:5]) # accessing item from beginning to position 4
# remember that the upper bound value is NOT included

['greg', 'heather', 'kevin', 'rita', 'todd']

In [ ]:
# .append() adds one element to the end
# .extend() adds multiple elements in a list to the end
print(professors)
professors.insert(2,"debra") # including a new item (not replacing)
# in position 2
print(professors)

['greg', 'heather', 'kevin', 'rita', 'todd', 'leo', 'camilo', 'piero', 'henry', 'patricia']
['greg', 'heather', 'debra', 'kevin', 'rita', 'todd', 'leo', 'camilo', 'piero', 'henry', 'patricia']

In [ ]:
professors.remove("leo")
print(professors)

['greg', 'heather', 'debra', 'kevin', 'rita', 'todd', 'camilo', 'piero', 'henry', 'patricia']

In [ ]:
# if you want to REPLACE an item
professors[3] = "trevor"
print(professors)
# I replaced kevin who was in position 3 with trevor

['greg', 'heather', 'debra', 'trevor', 'rita', 'todd', 'camilo', 'piero', 'henry', 'patricia']

In [ ]:
professors.sort()
print(professors)

['camilo', 'debra', 'greg', 'heather', 'henry', 'patricia', 'piero', 'rita', 'todd', 'trevor']

In [ ]:
professors.sort(reverse=True)
print(professors)

['trevor', 'todd', 'rita', 'piero', 'patricia', 'henry', 'heather', 'greg', 'debra', 'camilo']

In [ ]:
# creating a mechanism to access each value one at a time

for i in professors:
  print(i.title() + " is a professor at FIU.")
print("MMC")

Trevor is a professor at FIU.
Todd is a professor at FIU.
Rita is a professor at FIU.
Piero is a professor at FIU.
Patricia is a professor at FIU.
Henry is a professor at FIU.
Heather is a professor at FIU.
Greg is a professor at FIU.
Debra is a professor at FIU.
Camilo is a professor at FIU.
MMC

In [ ]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i**2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
for i in range(10):
  print(i/100)

0.0
0.01
0.02
0.03
0.04
0.05
0.06
0.07
0.08
0.09

In [ ]:
# Dictionaries

x = ["FIU","Miami",54000,1965,True]
print(x)

university = {
    "name":"FIU",
    "city":"Miami",
    "population":54000,
    "yearFounded":1965,
    "isResearchActive":True
}
print(university)

# dictionary is a data structure where you have key/value pairs
# you access values with keys instead of indices (0,1,2...)

print(university.get("name"))
print(university.get("yearFounded"))

['FIU', 'Miami', 54000, 1965, True]
{'name': 'FIU', 'city': 'Miami', 'population': 54000, 'yearFounded': 1965, 'isResearchActive': True}
FIU
1965

In [ ]:
water_data = {
    "temperature":[92.3, 87.6, 78.4],
    "pH":[6.7, 7.2, 7.1],
    "odo":[3.4, 4.2, 5.8]
}

print(water_data)
print(water_data.get("salinity"))
print(water_data.get("temperature")[1])
print(water_data.get("odo")[2])
print("turbidity" in water_data)

{'temperature': [92.3, 87.6, 78.4], 'pH': [6.7, 7.2, 7.1], 'odo': [3.4, 4.2, 5.8]}
None
87.6
5.8
False

In [ ]:
import pandas as pd # library for tabular data (like an excel spreadsheet)

water_table = pd.DataFrame(water_data) # converting a dictionary in python
# to a dataframe (table) in pandas
water_table

   temperature   pH  odo
0         92.3  6.7  3.4
1         87.6  7.2  4.2
2         78.4  7.1  5.8