# Data Science for All - Spring 2026
## Week 4 - Jan 28th 2026
### Prof. Reis

In [ ]:
# Pandas dataframe (for tabular data such as a csv file)
import pandas as pd
from pprint import pprint # optional print method (pretty print)

personal_info = {
    "Name":["Greg","Alice","Leo","Rebeca","David"],
    "Age":[23,35,45,25,30],
    "Height (cm)":[165,175,160,180,170],
    "Weight (kg)":[65,85,70,90,60],
}
print(type(personal_info))
pprint(personal_info)

<class 'dict'>
{'Age': [23, 35, 45, 25, 30],
 'Height (cm)': [165, 175, 160, 180, 170],
 'Name': ['Greg', 'Alice', 'Leo', 'Rebeca', 'David'],
 'Weight (kg)': [65, 85, 70, 90, 60]}

In [ ]:
# Converting python dictionary to pandas datrame

df = pd.DataFrame(personal_info)
df # no need to use print because Google Colab prints the table better

In [ ]:
df["Age"]

In [ ]:
df.columns

Index(['Name', 'Age', 'Height (cm)', 'Weight (kg)'], dtype='object')

In [ ]:
df.shape # rows and columns

(5, 4)

In [ ]:
print("Average height", df["Height (cm)"].mean())

print("Minimum height", df["Height (cm)"].min())

print("Maximum height", df["Height (cm)"].max())

print("Variance of height", df["Height (cm)"].var())

print("Standard deviation of height", df["Height (cm)"].std())

In [ ]:
# 1. Save the maximum value of weight in a variable
maxWeight = df["Weight (kg)"].max()
print(maxWeight)

# 2. Save the minimum value of weight in another variable
minWeight = df["Weight (kg)"].min()
print(minWeight)

# 3. Calculate the weight range
rangeWeight = maxWeight - minWeight
print(rangeWeight)

90
60
30

In [ ]:
# Create a new column for the height in meters

df["Height (m)"]=df["Height (cm)"]/100
df

     Name  Age  Height (cm)  Weight (kg)  Height (m)
0    Greg   23          165           65        1.65
1   Alice   35          175           85        1.75
2     Leo   45          160           70        1.60
3  Rebeca   25          180           90        1.80
4   David   30          170           60        1.70

In [ ]:
# 4. Add a new column for the weight in lbs
df["Weight (lbs)"]=df["Weight (kg)"]*2.205
df

# 5. Add a new column for the BMI (body mass index)
df["BMI"]=df["Weight (kg)"]/(df['Height (m)']**2)
df

In [ ]:
#Filtering my table

condition1 = df["Age"]>30
df[condition1]

    Name  Age  Height (cm)  Weight (kg)  Height (m)  Weight (lbs)        BMI
1  Alice   35          175           85        1.75       187.425  27.755102
2    Leo   45          160           70        1.60       154.350  27.343750

In [ ]:
condition2 = df["Weight (kg)"]<=70
df[condition2]

    Name  Age  Height (cm)  Weight (kg)  Height (m)  Weight (lbs)        BMI
0   Greg   23          165           65        1.65       143.325  23.875115
2    Leo   45          160           70        1.60       154.350  27.343750
4  David   30          170           60        1.70       132.300  20.761246

In [ ]:
df[condition1 & condition2] # both conditions 1 and 2

    Name  Age  Height (cm)  Weight (kg)  Height (m)  Weight (lbs)        BMI
1  Alice   35          175           85        1.75       187.425  27.755102

In [ ]:
# Condition1 (age > 30) and Weight (kg) > 70
df[condition1 & ~condition2]

    Name  Age  Height (cm)  Weight (kg)  Height (m)  Weight (lbs)        BMI
1  Alice   35          175           85        1.75       187.425  27.755102

In [ ]:
# Alternatively, you can create a new condition
condition3 = df["Weight (kg)"]>70
df[condition1 & condition3]

    Name  Age  Height (cm)  Weight (kg)  Height (m)  Weight (lbs)        BMI
1  Alice   35          175           85        1.75       187.425  27.755102

In [ ]:
# Description statistics
df.describe()

,Age,Height (cm),Weight (kg),Height (m),Weight (lbs),BMI
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,31.600000,170.000000,74.000000,1.700000,163.170000,25.502598
std,8.820431,7.905694,12.942179,0.079057,28.537505,3.113245
min,23.000000,160.000000,60.000000,1.600000,132.300000,20.761246
25%,25.000000,165.000000,65.000000,1.650000,143.325000,23.875115
50%,30.000000,170.000000,70.000000,1.700000,154.350000,27.343750
75%,35.000000,175.000000,85.000000,1.750000,187.425000,27.755102
max,45.000000,180.000000,90.000000,1.800000,198.450000,27.777778